@model notienendqver.Models.Registro

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Registro</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodRegistro" />
            <div class="form-group">
                <label asp-for="FechRegistro" class="control-label"></label>
                <input asp-for="FechRegistro" class="form-control" />
                <span asp-validation-for="FechRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescrpRegistro" class="control-label"></label>
                <input asp-for="DescrpRegistro" class="form-control" />
                <span asp-validation-for="DescrpRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoRegistro" class="control-label"></label>
                <input asp-for="TipoRegistro" class="form-control" />
                <span asp-validation-for="TipoRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodVivienda" class="control-label">Direccion Vivienda</label>
                <select asp-for="CodVivienda" class="form-control" asp-items="ViewBag.CodVivienda"></select>
                <span asp-validation-for="CodVivienda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <hr />
            <div>
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
