@model notienendqver.Models.Proveedor

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Proveedor</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombProveedor" class="control-label"></label>
                <input asp-for="NombProveedor" class="form-control" />
                <span asp-validation-for="NombProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelfProveedor" class="control-label"></label>
                <input asp-for="TelfProveedor" class="form-control" />
                <span asp-validation-for="TelfProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirProveedor" class="control-label"></label>
                <input asp-for="DirProveedor" class="form-control" />
                <span asp-validation-for="DirProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoProveedor" class="control-label"></label>
                <select asp-for="EstadoProveedor" class="form-select">
                    <option value="Activo">Activo</option>
                    <option value="Pendiente">Inactivo</option>
                </select>
                <span asp-validation-for="EstadoProveedor" class="text-danger"></span>
            </div>
            <hr />
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
